#main {
    overflow: hidden;
    padding-bottom: 7.5rem;
    .main {
        &__icon > img {
            position: relative;
            overflow: hidden;
            left: 6.625rem;
        }
        &__content {
            > .title {
                font-size: $font-xxl;
                font-weight: 700;
                text-align: center;
                color: $veryDarkViolet;
    
                margin-top: 1.875rem;
            }
            > .label {
                font-size: $font-lg;
                color: $grayishViolet;
            }
            
        }
    }

    @include breakpoint-up(large) {
        display: grid;
        row-gap: 10px;
        grid-template-columns: 50% 50%;
        .main {
            &__icon {
                > img {
                    left: 0;
                }
                order: 2;
            }
            &__content {
                order: 1;
                > .title {
                    text-align: left;
                }
                align-items: flex-start;
            }
        }
    }
}
.url-shorten {
    #url-shorten {
        background-image: url('../../images/bg-shorten-mobile.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 100% 0;
        background-color: $darkViolet;
        
        width: calc(100% - 3rem);
        position: absolute;
    
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    
        border-radius: .9375rem;
    
        > span {
            padding: 1rem 1rem;
            > button {
                margin-top: .75rem;
            }
        }
    
        @include breakpoint-up(large) {
            > span {
                flex-direction: row;
                > input {
                    width: 100%;
                }
                > button {
                    min-width: 11.625rem;
                    margin-left: .75rem;
                    margin-top: 0;
                }
            }
        }
    }
    .is-hidden {
        display: none;
    }
    .shorten_history {
        width: 100%;
        margin: 0 auto;
        > .breaker {
            display: block;
            height: 5.625rem;
        }
        &__list {
            list-style: none;
            padding: 0 0;
            margin: 0 0;
            &_item {
                padding: 1rem 1rem;
                min-height: 100px;
                border-radius: .9375rem;
                background-color: $white;
                margin-bottom: 1.25rem;

                > .original-link {
                    font-size: $font-lg;
                    padding-bottom: 1rem;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        border: 1px solid $gray;
                        width: 100%;
                        bottom: 0;
                    }
                }
                > .shortened-link {
                    font-size: $font-lg;
                    padding: 1rem 0;
                    color: $cyan;
                }
            }
        }
    }
}
#advancedStatistics {
    position: relative;
    min-height: 100px;
    background-color: $lightGrayishViolet;
}
