// Primary Colors

// Neutral Colors
$white: hsl(0, 0%, 100%);

// Font size
$font-xs: .8rem; // 11px
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.40rem; // 40px
$font-xl: 2.5rem; // 40px

// Paragraph
$p-sm-ling-height: 1.5;

// Transitions
$color-ease-in-out: color 200ms ease-in-out;
$opacity-ease-in-out: opacity 200ms ease-in-out;
$rotate-ease-in-out: 200ms ease-in-out;

// Gradient