// Display property do not work with animation

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

$fade-out-animation: fade-out 200ms ease-in-out forwards;
$fade-in-animation: fade-in 200ms ease-in-out forwards;

.fade-in {
    animation: $fade-in-animation;
}
.fade-out {
    animation: $fade-out-animation;
}

.has-fade {
    visibility: hidden;
}