html {
    font-size: 100%; // control zoom level at the browser
    box-sizing: border-box; // include padding in the final width
}

*, *::before, **::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.3;
}