.header {
    nav {
        height: 2.5rem;
        position: relative;
        background-color: $white;
        z-index: 99;
    }
    &__toggle { // Mobile Hamburger Toggle
        > span {
            display: block;
            width: 1.625rem;
            height: 0.125rem;
            background-color: $darkBlue;
            
            // Rotate CSS
            top: 0;
            position: relative;
            transition: 300ms ease-in-out;
            
            &:not(:last-child) {
                margin-bottom: 0.3125rem;
            }
        }
    }
    &__menu { // Mobile Overlay Menu Option
        padding: 0.9375rem 0.9375rem;
        border-radius: 0.3125rem;
        background-color: $white;
        margin-bottom: 0;

        // Position the overlay menu on the center at absolute position
        position: absolute;
        width: calc(100% - 4.5rem);

        // Center the content
        right: 50%; // move the content left by 50%
        transform: translateX(50%); // shift the content right by 50%

        > a {
            display: block;
            padding: 0.625rem 0.625rem;
            color: $darkBlue;
            text-align: center;
        }
    }
    &__hamburger__open {
        .overlay, .header__menu { // overlay animate to show
            visibility: visible;
            z-index: 99;
        }

        .header__menu {
            // Rotate CSS
            > span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 0.4375rem;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: -0.4375rem;
                }
            }
        }
    }

    &__link {
        > a {
            font-size: $font-sm;
            color: $grayishBlue;
            transition: $color-ease-in-out;

            position: relative;

            &::after {
                content: "";
                height: 0.25rem;
                display: block;
                left: 0;
                right: 0;
                bottom: -1.875rem;
                position: absolute;
                background: $gradient-green-cyan;
                opacity: 0;
                transition: $opacity-ease-in-out;
            }

            &:not(:last-child) {
                margin-right: 2rem;
            }
            &:hover {
                color: $darkBlue;

                &::after {
                    opacity: 1;
                }
            }
            
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0rem;
    left: 0rem;
    bottom: 0rem;

    background-image: $gradient-nav-overlay;
}