.header {

    .overlay {
        position: fixed;
        top: 4.75rem;
        right: 0rem;
        left: 0rem;
        bottom: 0rem;
    
        background-color: $darkBlue;
        background-image: $gradient-nav-overlay;
        opacity: 0.80;
    }

    nav {
        padding: 1.0625rem 1.5rem;
        height: 2.5rem;
    }
    &__logo {
        img {

        }
    }
    &__menu {
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            
            // Rotate CSS
            top: 0;
            position: relative;
            transition: 300ms ease-in-out;
            
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__hamburger {
        &__open {
            // Rotate CSS
            > span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 7px;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: -7px;
                }
            }
        }
    }

    &__link {
        > a {
            font-size: $font-sm;
            color: $grayishBlue;
            transition: $color-ease-in-out;

            position: relative;

            &::after {
                content: "";
                height:4px;
                display: block;
                left: 0;
                right: 0;
                bottom: -30px;
                position: absolute;
                background: $gradient-green-cyan;
                opacity: 0;
                transition: $opacity-ease-in-out;
            }

            &:not(:last-child) {
                margin-right: 32px;
            }
            &:hover {
                color: $darkBlue;

                &::after {
                    opacity: 1;
                }
            }
            
        }
    }
}