.paragraph {
    font-size: $font-sm;
    line-height: $p-sm-ling-height;
}

.page_1 {
    &__image {
        position: relative;
        background-image: url('../../images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 15.375rem;

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url('../../images/image-mockups.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breakpoint-up(large) {
                height: 125%;
                left: 6.25rem;
            }
        }

        @include breakpoint-up(medium) {
            flex: 3;
            background-image: url('../../images/bg-intro-desktop.svg');
            height: 100%;
        }
    }
    &__text {
        > div {
            text-align: center;
            > h1 {
                color: $darkBlue;
                font-weight: 300;
                font-size: 2.2rem;
                margin: 0;
            }
            > p {
                margin-bottom: 1.875rem;
            }
            > h1, > p {
                max-width: 23.75rem;
            }
        }

        @include breakpoint-up(large) {
            flex: 2;
            > div {
                > h1 {
                    font-size: $font-xl;
                }
                > p, > h1, button {
                    display: block;
                    text-align: left;
                }
            }
        }
    }

    @include breakpoint-up(large) {
        display: flex;
        flex-direction: row-reverse;
        height: 28.125rem;
    }
}
.page_2 {
    background-color: $lightGrayishBlue;
    &__text {
        text-align: center;
        > h2 {
            color: $darkBlue;
            font-weight: 300;
            font-size: 1.9rem;
            margin: 0;
        }
    }
    .use-case-item > .use-case-icon {
        margin-bottom: .625rem;
    }
    .use-case-list {
        list-style: none;
        padding: 0 0;
        > li:not(:last-child) {
            > p {
                margin-bottom: 1.875rem;
            }
        }
    }
}

.page_3 {
    background-color: $veryLightGray;
    &__text {
        text-align: center;
        > h2 {
            color: $darkBlue;
            font-weight: 300;
            font-size: 1.9rem;
            margin: 0;
        }
    }
    .articles-list {
        list-style: none;
        padding: 0 0;
        > li {
            &:not(:last-child) {
                > p {
                    margin-bottom: 1.875rem;
                }
            }
        }
    }
    .articles-item {
        background-color: $white;
        height: 28.125rem;
        border-radius: .3125rem;
        max-width: 25rem;

        > .article {
            &__icon {
                > img {
                    max-height: 13.75rem;
                    width: 100%;
                    height: auto;
                }
                margin-bottom: .625rem;
            }
            &__content {
                text-align: left;
                > .author {
                    font-size: $font-sm;
                }
                > .title {
                    color: $darkBlue;
                    font-weight: 300;
                    font-size: $font-md;
                    margin: 0;
                    margin-top: .625rem;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}