// Colors

// Primary
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font size
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px

// Transitions
$color-ease-in-out: color 200ms ease-in-out;
$opacity-ease-in-out: opacity 200ms ease-in-out;
$rotate-ease-in-out: 200ms ease-in-out;

// Gradient
$gradient-green-cyan: linear-gradient(to right, $limeGreen, $brightCyan);