.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #chessboard {
    flex-direction: column;
    display: flex;
    padding: 2px 2px;
    border: 2px solid black;
    .row {
      display: flex;
      flex-direction: row;
      & .box:not(:first-child) {
        border-left: 0;
      }
      
      &:not(:first-child) {
        & .box {
          border-top: 0;
        }
      }
    }
    .box {
      display: block;
      height: 30px;
      width: 30px;
      border: 1px solid black;
      cursor: pointer;
    }
  }
  .bg-black {
    background-color: black;
  }
  .bg-white {
    background-color: white;
  }
  .bg-marked {
    background-color: red;
  }
  
  