@import "src/index.scss";

.comment {
    margin: .5rem .5rem;
    padding: .5rem .5rem;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    &__main {
        &__header {
            > .title__left {
                > .user__profile {
                    max-height: 35px;
                    min-height: 35px;
                    max-width: 35px;
                    min-width: 35px;
                    
                    display: block;
                    background-color: black;
                    border-radius: 50%;
                }
                > .user__name {
                    font-weight: bold;
                    margin: 0 .8rem;
                }
                > .last-updated {
                    font-style: italic;
                }
            }
            > .title__right {
                @include breakpoint-down(small) {
                    display: none;
                }
            }
        }
        &__message {
            text-align: left;
            color: rgb(148, 148, 148);
        }
    }

    @include breakpoint-up(medium) {
        flex-direction: row;
    }
}